

.header 
{
    text-align: center;
    
    padding: 3.1rem 0 2.6rem;

    &__logo
    {
        width: 87px;
    }
}


.main
{
    background-color: $color-White;
    padding: 2rem;
    border-radius: 25px;

    &__col-1
    {
        display: flex;
        flex-direction: column;
        gap:2rem;
    }

    &__input 
    {
        &-container 
        {
            position: relative;

            &.invalid 
            {
                .input-error
                {
                    opacity: 100%;
                }
            }

            &::before 
            {
                content: '';
                position: absolute;
                left: 1.18rem;
                bottom: 0px;
                transform: translateY(100%);
            }

            &-bill::before
            {
                width: 10px;
                height: 16px;
                background-image: url(../../images/icon-dollar.svg);
            }
        }
        &-label 
        {
            @extend .heading-2;
            display: block;
        }

        &-top
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: .375rem;
        }

        &-error
        {
            margin-top: 0;
            color: $color-Red;
            opacity: 0%;
        }

        &:focus 
        {
            outline: solid 2px $color-Strong-cyan;
        }
        @extend .value-1;
        width: 100%;
        padding: .375rem 1.125rem;
        font-family: inherit;
        font-weight: bold;
        color: $color-Verydarkcyan;
        background-color: $color-Verylightgrayishcyan;
        border:none;
        text-align: right;
        border-radius: 5px;
    }


    &__tip-select
    {
        &__title
         {
            @extend .heading-2;
         }

         &__grid
         {
            display: grid;
            justify-content: space-between;
            row-gap: 1rem;
            grid-template-columns: 47.2% 47.2%;
         }
         &__btn
         {
            @extend .value-1;
            cursor: pointer;
            background-color: $color-Verydarkcyan;
            padding: .375rem 1rem;
            font-family: inherit;
            color: $color-White;
            border-radius: 5px;
            border:none;
            transition: all 300ms;

            &:hover
            {
                background-color: $color-btnhover;
                color: $color-Verydarkcyan;
            }
         }

         &__custom 
         {
            @extend .value-1;
            font-family: inherit;
            text-align: center;
            background-color: $color-custombg;
            border:none;
            color: $color-customtext;
         }
    }

    &__col-2 
    {
        background-color: $color-Verydarkcyan;
        border-radius: 15px;
        padding: 2.31rem 1.5rem 1.5rem;
        color: $color-White;

        &__entry 
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__key 
        {
            @extend .heading-2;
            font-size: 1rem;
            color:$color-White;
            margin-bottom: 0;

            & span
            {
                color: $color-perperson;
                font-size: .81rem;
            }
        }

        &__value 
        {
            margin-top: 0;
            font-size: 2rem;
            font-weight: bold;
            color: $color-Strong-cyan;
        }
    }

    &__btn-reset 
    {
        background-color: $color-Strong-cyan;
        width: 100%;
        border:none;
        font-family: inherit;
        font-size: 1.25rem;
        text-transform: uppercase;
        padding: .56rem;
        border-radius: 5px;
        margin-top: 2rem;
    }
}


